@import 'bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family$museo;,700&subset=cyrillic');
@font-face {
    font-family: 'Museo Sans Cyrl 900';
    src: url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-900.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 100';
    src: url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-100.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl 500';
    src: url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
        url('../fonts/MuseoSansCyrl-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$museo-xb: 'Museo Sans Cyrl 900', sans-serif;
$museo-b: 'Museo Sans Cyrl 700', sans-serif;
$museo-m: 'Museo Sans Cyrl 500', sans-serif;
$museo-l: 'Museo Sans Cyrl 100', sans-serif;
$museo: 'Museo Sans Cyrl 300', sans-serif;
$new: #4e60c6;
body{
	font-family: $museo, sans-serif;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
button, .btn{
	border-radius: 50px;
	border: 1px solid $new;
	background: transparent;
	padding: 14px 22px;
	border-bottom-left-radius: 0;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
	transition: 400ms;
	display: flex;
	font-family: $museo;
	box-shadow: 0 0 3px #000;
	&:focus{
		outline: none;
	}
	&:hover{
		background: $new*1.1;
		color: #fff;
	}
}
h1{
	font-family: $museo-b !important;
}
form{
		display: flex;
		justify-content: center;
		flex-direction: column;
		.form-group{
			margin: auto;
			width: 275px;
			label{
				font-weight: 100;
			}
			input{
				padding: 15px;
				height: auto;
				background: #f8f8f8;
				cursor: pointer;
				&:hover{
					background: #fefefe;
				}
			}
			margin-top: 15px;
		}
		.custom-control{
			margin: 30px auto 15px;
			display: flex;
			justify-content: center;
			width: 275px;
		}
		a{
			border-bottom: 1px solid #000;
			&:hover{
				text-decoration: none;
			}
		}
		.custom-control-label{
			font-size: 12px;
			font-weight: 300;
		}
}
form button.btn-primary{
	margin: 0 auto;
	padding: 15px 30px;
	background: $new;
	border-radius: 50px;
	border-bottom-left-radius: 0;
	border-color: $new;
	&:hover{
		background: $new*1.1;
		border-color: $new*1.1;
	}
}
.headertop{
	.block{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 30px;
		&:last-child{
			margin: 0;
		}
		h4{
			font-size: 20px;
			font-weight: 300;
			margin: 0;
			font-family: $museo;
		}
		h6{
			font-size: 16px;
			font-weight: 100;
			font-family: $museo-l;
			text-align: right;
			margin: 0;
		}
	}
	button{
		border-radius: 50px;
		border: 1px solid $new;
		background: transparent;
		padding: 14px 22px;
		border-bottom-left-radius: 0;
		font-size: 16px;
		transition: 400ms;
		font-weight: 300;
		box-shadow: none;
		display: flex;
		justify-content: center;
		span{
			display: block;
			height: 15px;
			width: 15px;
			margin: auto 5px auto 0;
			svg{
				fill: #000;
				transition: 400ms;
			}
		}
		&:hover{
			background: $new*1.1;
			border-color: $new*1.1;
			color: #fff;
			box-shadow: none;
			span{
				svg{
					fill: #fff;
				}
			}
		}
	}
}
button{
    position: relative;
    top: 0;
    transition: 700ms;
	box-shadow: -14px 20px 20px 0px #dadada;
	&:hover{
		top: 0;
		    box-shadow: -5px 5px 0 3px #eee;
	}
}
header{
	padding: 35px 0 70px;
	background-image: url('../img/header.png');
	background-size: cover;
	background-position: center center;
	.block{
		cursor: pointer;
		padding: 50px 0 60px;
		background: #fff;
    	margin: auto 15px;
    	box-shadow: 0 0 20px #fff;
    	position: relative;
    	top: 0;
    	transition: 1s;
		input{
			transition: 400ms;
		}
    	&:hover{
    		top: -5px;
    		.btn-primary{
    			background: #fff;
    			color: $new;
    		}
    		input{
    			background: #fff;
    		}
    	}
    	.btn-primary{
    		transition: 400ms;
    	}
	}
	h1{
		font-family: 'Museo Sans Cyrl 700', sans-serif;
		font-weight: 700;
		font-size: 40px;
		margin: auto 0 0;
		text-transform: uppercase;
		color: #000;
		span{
			color: $new;
		}
	}
	ul{
		margin-top: 50px;
		margin-bottom: auto;
		img{
			margin: auto 20px auto 0;
		}
		span{
			display: inline-block;
		}
		li{
			display: flex;
			font-size: 22px;
			font-weight: 300;
			line-height: 22px;
			margin-bottom: 15px;
			display: flex;
			span{
				display: block;
				margin: auto 0;
			}
			&:last-child{
				margin: 0;
			}
		}
	}
	h3{
		font-weight: 700;
		font-family: $museo-xb;
		font-size: 28px;
		text-align: center;
		margin-bottom: 15px;
	}
}


main{
	section{
		padding-top: 120px;
		padding-bottom: 100px;
		h1{
			font-size: 36px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 70px;
		}
	}
	#header{
		padding: 80px 0 0;
		img{
			display: block;
			margin: auto 0 auto auto;
		}
		h1{
			position: relative;
			font-size: 34px;
			font-family: $museo-xb;
			font-weight: 900;
			text-align: left;
			text-transform: uppercase;
			margin: 0;
			span{
				display: block;
				width: 160px;
				height: 160px;
				border: 20px solid $new;
				position: absolute;
				top: -40px !important;
				left: 60px;
				z-index: -1;
				background: transparent;
				&:before{
					content: '';
					display: block;
					height: 160px;
					width: 160px;
					background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9019607843137255) 1%, #fff);
					left: -20px;
					top: -20px;
					position: relative;
				}
			}
		}
		h2{
			height: 22px;
			font-family: $museo-b;
			font-weight: 900;
			margin: 15px 0;
			font-size: 22px;
			top: -30px;
			position: relative;
		}
		p{
			font-family: $museo;
			font-size: 22px;
			margin-bottom: 25px;
			line-height: 25px;
			&:first-child{
				margin-top: 30px;
			}
		}
		.block{
			display: flex;
			padding: 0 15px;
			justify-content: space-between;
			button{
				font-size: 18px;
				padding-left: 30px;
				padding-right: 30px;
				box-shadow: none;
				&:first-child{
					background: $new;
					color: #fff;
					&:hover{
						background: transparent;
						color: $new;
					}
				}
				&:hover{
					background: $new;
					color: #fff;
				}
			}
		}
	}
	#table{
		.head{
			background: $new;
			padding: 10px 0;
			.heading{
				border-right: 1px solid #fff;
				&:last-child{
					border: 0;
				}
			}
			p{
				margin: 0;
				color: #fff;
			}
			.col-2{
				&:last-child{
					p{
						border-right: 0 !important;
					}
				}
			}
		}
		p{
			text-align: center;
		}
		a{
			position: relative;
			text-decoration: none;
			&:hover{
				text-decoration: none;
				button{
					background: $new*1.2;
				}
			}
			&.aside{
				padding: 30px 0;
				&:nth-child(odd){
					background: #fbfbfb;
				}
			}
		}
		.inner{
			display: flex;
			h6{
				margin: auto;
				text-align: center;
			}
			p{
				margin: auto;
			}
			button{
				margin: auto;
				background: $new;
				color: #fff;
				&:hover{
					color: $new;
					background: transparent;
				}
			}
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
	#table2{
		padding: 90px 0;
		th{
			font-size: 22px;
			font-family: $museo-l;
			font-weight: 100 !important;
		}
		.text-center{
			text-transform: lowercase !important;
		}

	}
	.table-striped tbody tr:nth-of-type(odd) {
	    background-color: rgba(234, 234, 234, 0.05) !important;
	}
	.table-striped tbody tr:nth-of-type(even) {
    	background-color: rgba(185, 185, 185, 0.09) !important;
	}
	.table2{
		&:first-child{
			margin-bottom: 50px;
		}
		thead{
			background: #4e60c6;
			border: 0;
			color: #fff;
			font-family: $museo-l;
			font-size: 18px;
		}
		tbody{
			tr{
				th{
					width: 60%;
					color: #000;
					border: 0;
					font-family: $museo-l;
					padding: 30px 15px;
				}
				td{
					padding: 30px 15px;
					font-family: $museo-l;
					font-size: 22px;
					border: 0;
					&:nth-child(1){
						width: 60%;
					}
				}
			}
		}
	}
	#product{
		padding: 0;
		background: #fff;
		h1{
			margin: 120px auto 75px;
		}
		.block{
			margin-bottom: 50px;
			background: #fefefe;
			border-radius: 1px;
			padding: 40px 50px;
			display: flex;
			cursor: pointer;
			position: relative;
			top: 0;
			transition: 400ms;
			box-shadow: 0 0 50px #f1f1f1;
			border-radius: 5px;
			.d-flex{
				width: 60%;
			}
			&:hover{
				top: -5px;
				button{
		    		background: transparent;
		    		border: 1px solid $new;
		    		color: $new;
				}
			}
			button{
				transition: 400ms;
				color: #fff;
				background: $new;
				font-size: 14px;
				margin: auto auto auto 0;
			}
			img{
				margin-right: 30px;
			}
			h6{
				margin-top: auto;
				font-size: 22px;
				font-family: $museo-b;
				font-weight: 500;
			}
		}
	}
	#clients{
		padding: 0;
		h1{
			margin: 70px auto;
		}
		.wrap{
			display: flex;
			flex-wrap: wrap;
			.block{
				display: flex;
				flex: 0 0 25%;
				margin: auto;
				height: 120px;
				margin-bottom: 30px;
				img{
					display: block;
					margin: auto;
				}
			}
		}
	}
	#features{
		padding: 0;
		h1{
			margin: 120px 0 60px;
		}
		p{
			font-family: $museo; // Museo
			font-size: 22px;
			text-align: center;
			font-weight: 300; // 100 !
			margin: 0;
			position: relative;
			z-index: 999;
			b{
				font-weight: 700;
			}
			span{
				z-index: -1;
				top: 45px;
				display: block;
				height: 160px;
				width: 174px;
				border: 20px solid $new;
				background: transparent;
				right: 42%;
				border-top: 0;
				position: absolute;
				&:before{
					content: '';
					display: block;
					position: relative;
					left: -20px;
					height: 160px;
					width: 180px;
					background: transparent;
				    background-image: linear-gradient(0, rgba(255, 255, 255, 0.7215686274509804) -121%, #fff);
				}
			}
		}
		.row{
			margin-top: 100px;
		}
		.block__image{
			display: flex;
			margin: auto;
			position: relative;
			img{
				margin: auto;
				z-index: 999;
			}
			span{
				display: block;
				position: absolute;
				height: 50px;
				width: 80%;
				left: 10%;
				top: -25px;
				border: 3px dashed $new;
				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 103%;
					top: -22px;
					height: 69px;
					left: -2%;
					background: transparent;
				    background-image: linear-gradient(0, rgba(255, 255, 255, 0.7215686274509804) -121%, #fff);
				}
				&:last-child{
					top: auto;
					bottom: -25px;
				}
			}
		}
		.block{
			position: relative;
			cursor: pointer;
			top: 0;
			transition: 400ms;
			&:after{
				position: absolute;
				content: '';
				width: 1px;
				height: 120px;
				left: -15px;
				top: 45px;
				display: block;
				transition: 400ms;
				background: #eee;
			}
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
				&:after{
					display: none;
				}
			}
			h3{
				font-size: 18px;
				font-weight: 700;
				font-family: $museo-b;
			}
			p{
				text-align: left;
				font-size: 18px;
				position: relative;
				font-family: $museo-l;
				&:before{
					transition: 400ms;
					z-index: 999;
					position: absolute;
					display: block;
					content: '';
					top: 5px;
					left: -25px;
					width: 20px;
					height: 20px;
					background: $new;
				}
			}
		}
	}
	#provide{
		padding: 0;
		h1{
			margin: 120px auto 60px;
		}
		h3{
			font-weight: 700;
			font-size: 26px; // 28
			text-align: center;
			margin-bottom: 15px;
		}
		input{
			transition: 400ms;
		}
		.block{
			width: 390px;
			margin-left: auto;
			padding: 60px 50px;
			background: #fff;
			box-shadow: 1px 20px 100px #e8e8e8;
			border-radius: 5px;
			cursor: pointer;
			&:hover{
				button{
					background: #fff;
					color: $new;
				}
				input{
					background: #fff;
				}

			}
		}
		form .custom-control{
			padding: 0 35px;
		}
		button.btn-primary{
			transition: 700ms;
			font-size: 18px;
			font-family: $museo;
		}
		p{
			font-size: 22px;
			font-family: $museo-l;
			position: relative;
			z-index: 888;
			b{
				font-family: $museo-b;
				font-weight: 700;
			}
			span{
				z-index: -1;
				display: block;
				height: 160px;
				position: absolute;
				top: -30%;
				left: 12%;
				width: 160px;
				border: 20px solid $new;
				background: transparent;
				&:before{
					content: '';
					display: block;
					height: 160px;
					width: 160px;
					background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.9019607843137255) 1%, #fff);
					left: -20px;
					top: -20px;
					position: relative;
				}
			}
		}
	}
	#baner{
		img{
			margin: 1px;
		}
		.block{
			border: 3px solid $new;
			display: flex;
			h2{
				font-size: 30px;
				text-transform: uppercase;
				font-weight: 700;
				width: 660px;
				margin: 0;
			}
			h4{
				font-weight: 300;
				margin: 15px 0 20px;
				font-family: $museo;
			}
			.right{
				position: relative;
				left: -3%;
				flex: 0 0 50%;
				margin-left:auto;
				display: flex;
				flex-direction: column;
				h2{
					margin-top: auto
				}
				button{
					margin: 0 auto auto 0;
					color: #fff;
					background: $new;
					transition: 700ms;
					box-shadow: 0 0 50px #eee;
    				position: relative;
    				top: 0;
    				transition: 700ms;
					box-shadow: -14px 20px 20px 0px #dadada;
					&:hover{
						top: 0;
						background: transparent;
						color: $new;
						box-shadow: none;
					}
				}
			}
		}
	}
	#contact{
		padding: 50px 0;
		position: relative;
		iframe{
			top: 0;
			position: absolute;
		}
		.block{
			padding: 50px 60px;
			margin-left: auto;
			background: #fff;
			width: 455px;
			display: flex;
			flex-wrap: wrap;
			transition: 1.5s;
			cursor: pointer;
			position: relative;
			top: 0;
			box-shadow: 0 0 290px #e0e0e0;
			&:hover{
				top: -5px;
				box-shadow: 0 0 30px #ddd;
			}
			.text{
				margin-bottom: 15px;
				flex: 0 0 50%;
			}
			h2{
				text-align: center;
				font-weight: 700;
				margin: 0 auto 30px;
				font-family: $museo-b;
			}
			h6{
				font-size: 18px;
				margin: 0;
				font-weight: 700;
				font-family: $museo-b;
			}
			p{
				margin: 0;
				font-size: 14px;
				font-family: $museo;
			}
			button{
				font-size: 12px;
				img{
					position: relative;
					top: -3px;
				}
				.svg{
					display: block;
					margin-right: 8px;
					height: 15px;
					width: 15px;
					svg{
						transition: 400ms;
						fill: #000;
					}
				}
				&:hover{
					background: transparent;
					color: $new;
					.svg{
						svg{
							fill: $new;
						}
					}
				}
				&.call{
					background: $new;
					padding: 15px;
					color: #fff;
					.svg{
						svg{
							fill: #fff;
						}
					}
					&:hover{
						color: $new;
						background: transparent;
						.svg{
							svg{
								fill: $new;
							}
						}
					}
				}
			}
		}
	}
}
@keyframes pulse {  
  0% {  
  transform: scale(1);  
  opacity: 1;   
  }  
  50% {  
  transform: scale(0.97);  
  }  
  100% {  
  transform: scale(1);  
  opacity: 1;  
  }  
}  

footer{
	padding: 15px 0;
	background: #fff;
	a{
		color: #001b51;
		border-bottom: 1px solid #bbbfc9;
		transition: 400ms;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		&:hover{
			color: #ed1684;
			text-decoration: none;
			border-color: #3ef
		}
	}
	p{
		font-weight: 300;
		font-family: 'Raleway', sans-serif;
		margin: auto 10px auto 0 ;
	}
	.block{
		cursor: pointer;
		img{
			transition: 1s;
			top: 0;
			right: 0;
			position: absolute;
		}
		&:hover{
			img{
				top: 8px;
				transform: scale(.99);
			}
		}
	}
	.logo{
		display: flex;
		cursor: pointer;
		border-bottom: 0;
		animation-name: pulse;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		&:hover{
			color: #001b51;
		}
	}
}

@media screen and (max-width: 1200px){
	html{
		font-size: 90%;
	}
	header{
		h1{
			font-size: 34px;
		}
		ul{
			li{
				font-size: 20px;
				img{
					height: 30px;
					margin-right: 10px;
				}
			}
		}
	}
	main{
		section{
			padding: 80px 0;
			h1{
				font-size: 30px;
				margin-bottom: 40px;
			}
		}
		#header{
			.block{
				margin: auto;
			}
			.col-xl-8{
				h1{
					text-align: center;
					margin-bottom: 30px;
				}
				br{
					display: none;
				}
			}
			p{
				font-size: 20px
			}
			img{
				width: 80%;
				margin: auto !important;
			}
			h2{
				top: -60px;
				position: relative;
				flex: 0 0 30%;
				max-width: 30%;
				text-align: center;
			}
		}
		#baner{
			.block{
				.right{
					h2{
						width: auto;
						font-size: 24px;
					}
				}
			}
		}
		#features{
			h1{
				margin-top: 60px;
			}
			.block__image{
				img{
					width: 100%;
				}
			}
		}
		#provide{
			img{
				width: 100%;
			}
			p{
				font-size: 18px;
			}
			br{
				display: none;
			}
		}
		#product{
			.block{
				flex-wrap: wrap;
				.d-flex{
					width: 100%;
					margin: 15px auto 0;
				}
				img{
					margin: 0 auto;
				}
				button{
					margin: 15px auto 0;
				}
			}
		}
	}
}
@media screen and (max-width: 992px){
	.headertop{
		margin-bottom: 50px;
		.block{
			h4{
				font-size: 18px;
			}
		}
	}
	header{
		h1{
			font-size: 24px;
		}
		ul{
			li{
				font-size: 14px;
			}
		}
	}
	main{
		#header{
			padding: 0 !important;
			.m-auto{
				margin: auto;
				&:first-child{
					display: block;
					padding-top: 50px;
					margin-top: 50px auto !important;
				}
			}
		}
		#features{
			.block{
				width: 65%;
				margin: auto auto 30px;
				&:first-child{
					margin-top: 60px;
				}
			}
			p{
				span{
					right: 36%;
				}
			}
		}
		#baner{
			.block{
				.left{
					img{
						margin: 0 !important;
						width: 100% !important;
					}
				}
				.right{
					h2{
						font-size: 16px;
					}
				}
			}
		}
		#provide{
			h1{
				margin-top: 100px;
			}
			.block{
				margin: auto;
			}
			p{
				margin: 80px auto;
				span{
					left: 35%;
				}
			}
		}
		#header{
			h2{
				left: 20px;
				position: absolute;
				top: -100px;
			}
			br{
				display: none;
			}
		}
		#table{
			.head{
				div{
					padding: 0;
					margin: auto;
					margin-right: 1px solid #fff;
					&:last-child{
						margin: 0 !important;
					}
				}
				p{
					border: 0 !important;
				}
			}
			a.aside{
				padding: 15px;
			}
			p{
				margin: 0 !important;
			}
			img{
				width: 100%;
				margin: auto;
			}
		}
	}
	footer{
		padding-top: 30px;
		a{
			font-size: 14px;
		}
		.m-auto{
			margin-top: 15px !important;
		}
		img{
			margin: auto;
		}
		.logo{
			margin: 0 auto !important;
		}
	}
}
@media screen and (max-width: 768px){
	br{
		display: none;
	}
	button{
		padding: 8px 20px;
	}
	.headertop{
		padding: 15px 0;
		.justify-content-end{
			justify-content: space-between !important;
			.block{
				margin: 0 !important;
				h6{
					text-align: left;
					font-weight: 700;
				}
				h4{
					font-weight: 600;
				}
			}
		}
		img{
			margin: auto;
			display: block;
		}
		.block{
			h4{
				font-size: 14px;
			}
		}
	}
	header{
		padding-bottom: 30px;
		h1{
			font-size: 20px;
			text-align: center;
		}
		ul{
			margin-top: 30px;
			margin-bottom: 30px;
			li{
				display: flex;
				margin: 0;
				font-size: 20px;
				justify-content: center;
			}
		}
		.block{
			padding: 60px 50px;
			margin: auto;
			width: 80%;
		}
	}
	main{
		section{
			h1{
				font-size: 26px;
			}
		}
		#table{
			.text-left{
				text-align: center  !important;
			}
			h6{
				margin: 5px auto !important;
			}
			button{
				margin: 10px auto 30px !important;
			}
			.head{
				display: none;
			}
		}
		#table2{
			padding-top: 0;
			td,th{
				font-size: 18px;
			}
		}
		#header{
			padding: 50px 0 !important;
			.col-xl-8{
				margin: 0 auto;
				padding: 0 15px !important;
			}
			h1{
				font-size: 34px;
			}
			h2{
				position: relative;
				max-width: 100%;
				width: 100%;
				top: 0;
			}
			.d-flex{
				margin: auto;
				img{
					width: 100%;
				}
			}
		}
		#clients{
			.wrap{
				.block{
					flex: 0 0 50%;
					display: flex;
					img{
						width: 55%;
						height: auto;
						margin: auto;
					}
				}
			}
		}
		#provide{
			.block{
				margin: auto;
			}
		}
		#baner{
			button{
				box-shadow: none !important;
			}
			.block{
				.right{
					h4,h2{
						font-size: 14px;
					}
				}
			}
		}
		#features{
			.row{
				margin-top: 80px;
			}
		}
		#contact{
			.block{
				margin: auto;
			}
		}
	}
	footer{
		display: block;
		padding: 30px 0;
		.justify-content-start{
			justify-content: center !important;
		}
		.mb-3{
			margin: 0 !important 10px;
		}
		.m-auto{
			margin: 0 auto !important;
		}
	}
}
@media screen and (max-width: 576px){
	.form-group{
		width: 100% !important;
	}
	.headertop{
		.justify-content-end{
			flex-direction: column;
			.block{
				margin: 0 auto 15px !important;
				&:first-child{
					margin-bottom: 15px !important;
				}
				&:last-child{
					margin-bottom: 0 !important;
				}
			}
		}
	}
	header{
		ul{
			li{
				font-size: 16px;
			}
		}
		.block{
			width: 100%;
			padding: 50px 30px;
			margin: 0;
		}
	}
	main{
		section{
			h1{
				font-size: 22px;
			}
			padding: 50px 0;
		}
		#table2{
			padding: 50px 0 0;
			th,td{
				font-size: 14px;
			}
		}
		#header{
			padding: 50px 0 0 !important;
			h1{
				font-size: 30px;
			}
			p{
				font-size: 16px;
			}
			.ml-lg-auto{
				display: flex !important;
				flex-wrap: wrap;
				flex-direction: column;
				padding: 0 15px !important;
			}
			h2{
				left: auto;
				position: relative;
				top: auto;
				width: 100%;
				margin: 0 auto 15px !important;
				width: 100%;
				text-align: center;
				flex: auto;
				height: auto;
				width: 100%;
				max-width: 100%;
			}
			img{
				margin: auto;
				width: 60% !important;
			}
			.block{
				padding: 0;
				flex-direction: column;
				button{
					margin: 0 auto 15px;
					&:last-child{
						margin: 0 auto;
					}
				}
			}
		}
		#product{
			.block{
				flex-direction: column;
				&:last-child{
					margin-bottom: 0;
				}
				img{
					width: 40%;
					display: block;
					margin: auto;
				}
				h6{
					font-size: 16px;
					margin: 15px auto;
				}
				button{
					margin: auto;
				}
			}
		}
		#provide{
			h1{
				margin: 50px auto;
			}
			h3{
				font-size: 20px;
			}
			.block{
				width: auto;
			}
			p{
				font-size: 16px;
				span{
					left: 27%;
				}
			}
		}
		#baner{
			.left{
				border: 2px solid #90a1eb;
				img{
					width: 80% !important;
					display: block !important;
					margin: 30px auto !important;
				}
			}
			.block{
				border: 0;
				flex-direction: column;
				.right{
					flex: auto;
					padding: 30px;
					margin: 15px auto;
					left: auto;
					border: 2px solid #90a1eb;
					width: 100%;
					h2,h4{
						font-size: 16px;
					}
					button{
						margin: auto;
					}
				}
			}		
		}
		#clients{
			.wrap{
				.block{
					flex: 0 0 100%;
					img{
						width: auto;
					}
				}
			}
		}
		#features{
			h1{
				margin-bottom: 50px;
			}
			.row{
				margin-top: 50px;
			}
			p{
				font-size: 20px;
				span{
					top: -5px;
				}
			}
			.block{
				width: 80%;
				p{
					font-size: 18px;
				}
				&:first-child{
					margin-top: 90px;
				}
			}
		}
		#contact{
			.block{
				padding: 15px;
				flex-direction: column;
				width: auto;
				.text{
					margin: auto auto 15px;
					flex: auto;
				}
				button.call{
					margin: 15px auto 0;
				}
				p{
					text-align: center;
				}
			}
		}
	}
}
@media screen and (max-width: 450px){
	main #features .block__image{
		span{
			top: 15px;
			&:last-child{
				top: auto;
				bottom: 25px !important;
			}
			&:after{
				left: -1%;
			}
		}
	}
}
@media screen and (min-width: 450px) and (max-width: 540px){
	main #features .block__image{
		span{
			top: 0;
			&:last-child{
				top: auto;
				bottom: 0 !important;
			}
		}
	}
}